In [1]:
import pandas as pd

In [3]:
# series de pandas

numeros =[3,4,5,6,7]
serie =pd.Series(numeros)
serie,type(serie)

(0    3
 1    4
 2    5
 3    6
 4    7
 dtype: int64,
 pandas.core.series.Series)

In [5]:
data = {
    "Nombre":["Ana","Juan","Pedro","Maria","Luis"],
    "Edad":[22,25,28,23,20],
    "Ciudad":["Barcelona","Madrid","Valencia","Sevilla","Bilboa"]
}

data, type(data)

({'Nombre': ['Ana', 'Juan', 'Pedro', 'Maria', 'Luis'],
  'Edad': [22, 25, 28, 23, 20],
  'Ciudad': ['Barcelona', 'Madrid', 'Valencia', 'Sevilla', 'Bilboa']},
 dict)

In [6]:
# Generar un dataframe a partir de un diccionario
df = pd.DataFrame(data)
df

  Nombre  Edad     Ciudad
0    Ana    22  Barcelona
1   Juan    25     Madrid
2  Pedro    28   Valencia
3  Maria    23    Sevilla
4   Luis    20     Bilboa